<!DOCTYPE html>
<html>
<head>
    <title>Tambah Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">

<h2>Tambah Data Lokasi</h2>

<form method="POST">
    <input name="lokasi" class="form-control mb-2" placeholder="Nama Lokasi" required>
    <input name="jp" class="form-control mb-2" placeholder="Jarak Pemukiman" required>
    <input name="js" class="form-control mb-2" placeholder="Jarak Sumber Air" required>
    <input name="tanah" class="form-control mb-2" placeholder="Jenis Tanah" required>
    <input name="akses" class="form-control mb-2" placeholder="Akses Jalan" required>
    <input name="biaya" class="form-control mb-2" placeholder="Biaya Lahan" required>

    <button class="btn btn-success">Simpan</button>
    <a href="/" class="btn btn-secondary">Kembali</a>
</form>

</body>
</html>
